# Translation files are encoded differently per-language,
# see https://github.com/TheIndieStone/ProjectZomboidTranslations/issues/155
AF/*.txt text working-tree-encoding=cp1252 encoding=utf-8,
AR/*.txt text working-tree-encoding=cp1252 encoding=utf-8,
CA/*.txt text working-tree-encoding=cp1252 encoding=utf-8,
CH/*.txt text working-tree-encoding=utf-8 encoding=utf-8,
CH/**/*.txt text working-tree-encoding=utf-8 encoding=utf-8,
CN/*.txt text working-tree-encoding=utf-8 encoding=utf-8,
CS/*.txt text working-tree-encoding=cp1250 encoding=utf-8,
DA/*.txt text working-tree-encoding=cp1252 encoding=utf-8,
DE/*.txt text working-tree-encoding=cp1252 encoding=utf-8,
EE/*.txt text working-tree-encoding=cp1252 encoding=utf-8,
EN/*.txt text working-tree-encoding=utf-8 encoding=utf-8,
ES/*.txt text working-tree-encoding=cp1252 encoding=utf-8,
FR/*.txt text working-tree-encoding=cp1252 encoding=utf-8,
HU/*.txt text working-tree-encoding=cp1250 encoding=utf-8,
IT/*.txt text working-tree-encoding=cp1252 encoding=utf-8,
JP/*.txt text working-tree-encoding=utf-8 encoding=utf-8,
KO/*.txt text working-tree-encoding=utf-16 encoding=utf-8,
NL/*.txt text working-tree-encoding=cp1252 encoding=utf-8,
NO/*.txt text working-tree-encoding=cp1252 encoding=utf-8,
PL/*.txt text working-tree-encoding=cp1250 encoding=utf-8,
PT/*.txt text working-tree-encoding=cp1252 encoding=utf-8,
PTBR/*.txt text working-tree-encoding=cp1252 encoding=utf-8,
RU/*.txt text working-tree-encoding=cp1251 encoding=utf-8,
TH/*.txt text working-tree-encoding=utf-8 encoding=utf-8,
TR/*.txt text working-tree-encoding=cp1254 encoding=utf-8,
UA/*.txt text working-tree-encoding=cp1251 encoding=utf-8,

_TVRADIO_TRANSLATIONS/*RU.txt text working-tree-encoding=cp1251 encoding=utf-8,
_TVRADIO_TRANSLATIONS/*PL.txt text working-tree-encoding=cp1250 encoding=utf-8,
_TVRADIO_TRANSLATIONS/*CA.txt text working-tree-encoding=cp1252 encoding=utf-8,
_TVRADIO_TRANSLATIONS/*CH.txt text working-tree-encoding=utf-8 encoding=utf-8,
_TVRADIO_TRANSLATIONS/*PTBR.txt text working-tree-encoding=cp1252 encoding=utf-8,

# exception: keep the language definition/credits utf-8
*/credits.txt text working-tree-encoding=utf-8 encoding=utf-8
*/language.txt text working-tree-encoding=utf-8 encoding=utf-8
*/Translated by.txt text working-tree-encoding=utf-8 encoding=utf-8
